PORT = 
FRONTEND_URL = 
DASHBOARD_URL = 
JWT_EXPIRES_IN = xxxxxxxxxxxxxx
COOKIE_EXPIRES_IN = 
JWT_SECRET_KEY = xxxxxxxxxxxxxx
SMTP_SERVICE = 
SMTP_MAIL = 
SMTP_PASSWORD = xxxxxxxxxxxxxx
SMTP_HOST = 
SMTP_PORT =
GEMINI_API_KEY = xxxxxxxxxxxxxxxxxxxxxxx
CLOUDINARY_CLIENT_NAME = 
CLOUDINARY_CLIENT_API = xxxxxxxxxxxxxxxxx
CLOUDINARY_CLIENT_SECRET = xxxxxxxxxxxxxxxxxxxx
STRIPE_SECRET_KEY = xxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET = xxxxxxxxxxxxxxxxxxxx
STRIPE_FRONTEND_KEY = xxxxxxxxxxxxxxxxxxxxxxxx


in cmd: paste this to get webhook_secret after that go to postman and send request for new order. you'll got the payment_intent.created with [200] successfully.
C:\Users\Administrator>stripe listen --events payment_intent.created,payment_intent.succeeded --forward-to localhost:4000/api/v1/payment/webhook